.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #18181b;
  overflow: hidden;
}

.main-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.content-area {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}
